<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Formicant.BasicExtensions" version="0.1.13-pre" targetFramework="net45" />
  <package id="Formicant.CollectionExtensions" version="0.1.11-pre" targetFramework="net45" />
  <package id="Formicant.EnumerableExtensions" version="0.1.10-pre" targetFramework="net45" />
  <package id="Formicant.FloatingPointDecomposition" version="0.1.5-pre" targetFramework="net45" />
  <package id="Formicant.IniFile" version="0.1.8-pre" targetFramework="net45" />
  <package id="Formicant.LanguageExtensions" version="0.1.5-pre" targetFramework="net45" />
  <package id="Formicant.NumberExtensions" version="0.1.13-pre" targetFramework="net45" />
  <package id="Formicant.Numerics" version="0.1.6-pre" targetFramework="net45" />
  <package id="Formicant.QSvg" version="0.1.5-pre" targetFramework="net45" />
  <package id="Formicant.QXml" version="0.1.4-pre" targetFramework="net45" />
  <package id="Formicant.StringOperationExtensions" version="0.1.7-pre" targetFramework="net45" />
  <package id="Formicant.Vectors" version="0.1.10-pre" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.20-beta" targetFramework="net45" />
</packages>